.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-drawer {
  overflow: hidden;
}
