.header {
  background-color: #fff;
  padding: 12px 32px;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

img {
  height: 40px;
}

.home-icon {
  cursor: pointer;
}
